<div class="row">


    <div class="panel panel-default">
        <div class="panel-heading">
            
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h4>
                        <b>DM / Admin List</b>
                    </h4>
                </div>
            </div>
            
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-6 col-md-offset-4">

                    <p>
                        The following lists users who are authorized to log in as a DM.
                    </p>
                </div>
            </div>

            <div class="row">&nbsp;</div>

            <div class="row">
                <div class="col-md-1">
                    <div class="row">
                        <div class="col-md-1 col-md-offset-3">
                            ID
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    Name
                </div>
                <div class="col-md-3">
                    CD Key
                </div>
                <div class="col-md-3">
                    DM Role
                </div>
                <div class="col-md-1">
                    Is Active
                </div>
            </div>

            <div class="row">&nbsp;</div>

            <div ng-repeat="dm in viewModel.AuthorizedDMs">

                <div class="row">
                    <div class="col-md-1">
                        <div class="row">
                            <div class="col-md-1 col-md-offset-3">
                                {{dm.AuthorizedDMID}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="dm.Name" />
                    </div>
                    <div class="col-md-3">
                        <input type="text"
                               class="form-control"
                               ng-model="dm.CDKey"
                               maxlength="20" />
                    </div>
                    <div class="col-md-3">
                        <select ng-model="dm.DMRole" class="form-control" 
                                ng-options="role.DMRoleDomainID as role.Description for role in viewModel.AvailableRoles">
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="dm.IsActive" />
                        </label>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
            </div>

            <div class="row">&nbsp;</div>

            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <input type="button" 
                           class="btn btn-primary" 
                           value="Add New"
                           ng-click="addNew();" />
                </div>
            </div>

            <div class="row">&nbsp;</div>

            <div class="row">
                <div class="col-md-3 col-md-offset-5">
                    <input type="button" 
                           class="btn btn-primary" 
                           value="Save Changes"
                           ng-click="saveChanges();" />
                </div>
            </div>

        </div>
        <div class="panel-footer">

        </div>
    </div>
</div>


