<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h4>
                        <b>Key Items</b>
                    </h4>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">&nbsp;</div>

            <uib-tabset>
                <uib-tab ng-repeat="category in viewModel.KeyItemCategories"
                         heading="{{category.Name}}"
                         ng-click="changeTab(category.KeyItemCategoryID)">

                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div class="col-md-1">
                            <div class="col-md-1 col-md-offset-3">
                                ID
                            </div>
                        </div>
                        <div class="col-md-3">
                            Name
                        </div>
                        <div class="col-md-5">
                            Description
                        </div>
                        <div class="col-md-2">
                            Category
                        </div>
                    </div>


                    <div class="row">&nbsp;</div>
                    <div ng-repeat="keyitem in viewModel.KeyItems | filter:{ KeyItemCategoryID: category.KeyItemCategoryID}">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="col-md-1 col-md-offset-3">
                                    {{keyitem.KeyItemID}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="keyitem.Name" />
                            </div>
                            <div class="col-md-5">
                                <textarea maxlength="1024"
                                          class="form-control"
                                          ng-model="keyitem.Description"></textarea>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control"
                                        ng-model="keyitem.KeyItemCategoryID" ng-options="category.KeyItemCategoryID as category.Name for category in viewModel.KeyItemCategories"></select>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                    </div>

                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div class="col-md-3 col-md-offset-9">
                            <input type="button"
                                   class="btn btn-primary"
                                   value="Add New Key Item"
                                   ng-click="addNewKeyItem();" />
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div class="col-md-3 col-md-offset-5">
                            <input type="button"
                                   class="btn btn-primary"
                                   value="Save Changes"
                                   ng-click="saveChanges();" />
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>