

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h4>
                        <b>Module Editor</b>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <b>
                        Select Module:
                    </b>
                </div>
                <div class="col-md-5">
                    <input type="file"/>
                </div>
                <div class="col-md-4">
                    <input type="button" class="btn btn-primary" value="Open Module"/>
                </div>
            </div>
        </div>
    </div>
</div>